/*

font-family: 'Nanum Gothic'

pink    #f0024a
green   #e9e92a
blue    #bffcfc
purple  #311844
gray    #F8F9FA

*/


body {
    background-color: #e9e92a;
    font-family: 'Nanum Gothic';
}

.navbar {
    padding: 20px;
    border-bottom: 1px solid #f0024a;

}

.container {
    padding: 0;
    margin: 0 auto 0 auto;
}

#reset-button {
    border: 1px solid #f0024a;
    border-radius: 5px;
    color: #311844;
    padding: 10px;
}

#reset-button:hover {
    background-color: #f0024a;
    color: white;
}

#reset-button:focus {
    background-color: #f0024a;
    color: white;
    outline: 3px #e9e92a solid;
    outline-offset: 2px;
}

.choices {
    display: flex;

}

.choice-card {
    border: 1px solid #f0024a;
    margin: 20px;
    flex: 1;
}

.choice-card img {
    padding: 40px;
    width: 100%;

}

.card-body {
    background-color: #f0024a;
    margin: 0px;
    

}

.card-body-counter {
    background-color: #311844;
    margin: 0px;
    

}
.col-4 {
    padding: 0;

}

.col-6 {
    padding: 0;
    margin: 0;
}



.card {
    background-color: #F8F9FA;


}

h1 {
    color: #311844;
    margin: 20px;
}

h2 {
    color: #311844;

}

h4 {
    display: inline;
    color: #311844;
    font-weight: 800;
    border: 1px solid #311844;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    font-size: 15px;
}

h5 {
    color: #fff;
    font-weight: 800;
}

h6  {
    color: #311844;
}

p {
    color: #fff;
}

.instructions-container {
    padding: 20px;
}

#instructions {
    background-color: #F8F9FA;
    margin: 40px auto 0px auto;
    color: #311844;
    border: none;
    width: 100%;
    padding: 20px;
    border: 1px solid #311844;

}

.card-header {
    border-bottom: none;
    background-color: #F8F9FA;

}

#computer-choice-html {
}

#player-choice-html {
}




.container .game-counters {
display: flex;
}

.game-record {
    border: 1px solid #311844;
    margin: 0 auto 0 auto;
}

footer {
    background-color: #F8F9FA;
    padding: 30px;
    border-top: 1px solid #f0024a;
    margin-top: 30px;


}

.counter-card { 
margin: 20px;

}